.login-card2 > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 12px;
  color: white;
}

.login-card2 > table > tbody > tr > td > button :hover {
  transform: scale(1.2);
  transition: transform 330ms ease-in-out;
}

.fixTableHead {
  height: 20rem;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}

.btn-save{
  background-color: rgb(0, 79, 202) !important;
  border-color: rgb(0, 79, 202) !important;
  color: white;
}

.btn-save:hover{
  background-color:#004fcae0 !important;
  border-color: #004fcae0!important;
}